[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="logo">
                <a href="{{ 'index'|staticPage }}">
                    <img src="{{ 'assets/images/azla.png'|theme }}" alt="Arizona Language Association" />
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <!--<div class="contact-phone">
                <label>Call us now</label>
                <span class="phone-number">KL5-3226</span>
            </div>
            -->
            <div class="social-icon">
                <p>Follow us!</p></br>
				<a href="#" class="img-circle">
					<i class="fa fa-facebook" id="faceb"></i>
				</a>
				<a href="#" class="img-circle">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="#" class="img-circle ">
					<i class="fa fa-youtube-play"></i>
				</a>
			</div>
        </div>
    </div>
</div>